* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}

:root {
    --white: #FFFFFF;
    --white90: #E4E4E7;
    --white95: #F1F1F3;
    --white97: #F7F7F8;
    --white99: #FCFCFD;
    --black: #000000;
    --orange50: #FF9500;
    --orange70: #FFBF66;
    --orange75: #FFCA80;
    --orange80: #FFD599;
    --orange90: #FFEACC;
    --orange95: #FFF4E5;
    --orange97: #FFF9F0;
    --orange99: #FFFDFA;
    --grey10: #1A1A1A;
    --grey15: #262626;
    --grey20: #333333;
    --grey30: #4C4C4D;
    --grey35: #59595A;
    --grey40: #656567;
    --grey60: #98989A;
    --grey70: #B3B3B3;
}

body {
    background-color: var(--white97);
    padding: 20px 30px;
    box-sizing: border-box;
}

/* navbar */
nav {
    height: 99px;
    margin: 20px 30px 100px 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 785px;
    font-size: 18px;
    box-shadow: 0 0px 10px var(--grey40);
}

nav #nav-left ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 12px;
}

nav #nav-left ul li:nth-child(1) {
    display: none;
}

nav #nav-left ul li {
    padding: 14px 24px;
}

nav #nav-left ul li img {
    height: 54px;
    width: 54px;
    border-radius: 8px;
}

nav #nav-left ul li a {
    text-decoration: none;
    cursor: pointer;
    color: var(--grey15);
}

nav #nav-left ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--grey15);
}

nav #nav-right ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav #nav-right ul li button {
    height: 55px;
    width: 117px;
    cursor: pointer;
}

nav #nav-right ul li:nth-child(1) button {
    border: transparent;
    background-color: transparent;
}

nav #nav-right ul li:nth-child(2) button {
    border: 1px solid var(--orange50);
    border-radius: 8px;
    background-color: var(--orange50);
    color: var(--white);
}

/* sign up section */
#sign-up {
    margin: 100px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

#sign-up #sign-up-left {
    width: 50%;
}

#sign-up #sign-up-left #testimonials-heading {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 6px;
    color: var(--grey15);
}

#sign-up #sign-up-left #testimonials-para {
    font-size: 18px;
    font-weight: 400;
    color: var(--grey35);
}

#sign-up #sign-up-left #testimonials-cards {
    margin-top: 80px;
}

#sign-up #sign-up-left #testimonials-cards .tc-card {
    padding: 50px;
    background-color: var(--white);
    border-radius: 12px;
    /* width: 711px; */
}

#sign-up #sign-up-left #testimonials-cards .tc-card-para {
    overflow: hidden;
    text-overflow: clip;
    font-size: 18px;
    font-weight: 400;
    color: var(--grey30);
    margin-bottom: 50px;
    height: 80px;
}

#sign-up #sign-up-left #testimonials-cards .tc-card-brief {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sign-up #sign-up-left #testimonials-cards .tc-card-brief-left {
    display: flex;
    gap: 15px;
    align-items: center;
}

#sign-up #sign-up-left #testimonials-cards .tc-card-brief-left .tc-card-brief-img {
    height: 60px;
    width: 60px;
    border-radius: 8px;
}

#sign-up #sign-up-left #testimonials-cards .tc-card-brief-right .tc-card-button {
    padding: 18px 15px 18px 15px;
    background-color: var(--white97);
    color: var(--grey15);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border: transparent;
    border-radius: 8px;
}
#sign-up #sign-up-left #toggle-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: right;
    gap: 15px;
}
#sign-up #sign-up-left #toggle-buttons #toggle-left, #sign-up #sign-up-left #toggle-buttons #toggle-right {
    padding: 14px;
    border: transparent;
    border-radius: 8px;
    color: var(--grey15);
}
#sign-up #sign-up-right {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: var(--white);
    border-radius: 12px;
    width: 35%;
    height: 100%;
}
#sign-up #sign-up-right #sign-up-heading{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: var(--grey15);
}
#sign-up #sign-up-right #sign-up-sub-heading{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--grey30);
}
#sign-up #sign-up-right form{
    margin-top: 50px;
}
#sign-up #sign-up-right form .label{
    font-size: 18px;
    font-weight: 500;
    color: var(--grey15);
}
#sign-up #sign-up-right form .input{
    padding: 24px;
    border-radius: 10px;
    background-color: var(--white95);
    border: 1px var(--white95);
    font-size: 18px;
    font-weight: 500;
    color: var(--grey40);
    margin-bottom: 10px;
}

#sign-up #sign-up-right form .input input, #sign-up #sign-up-right form .input input::placeholder{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--grey40);
}
#sign-up #sign-up-right form .forget-password{
    text-align: right;
    margin-bottom: 10px;
}
#sign-up #sign-up-right form .forget-password a{
    text-align: right;
    background-color: transparent;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--grey30);
}
#sign-up #sign-up-right form .submit{
    padding: 18px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    border-radius: 10px;
    border: transparent;
    background-color: var(--orange50);
    margin-bottom: 10px;
}
#sign-up #sign-up-right form .submit button{
    background-color: transparent;
    border: transparent;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
}
#sign-up #sign-up-right .login{
    text-align: center;
    color: var(--grey15);
    font-size: 18px;
    font-weight: 500;
}
#sign-up #sign-up-right .login span:nth-child(2){
    cursor: pointer;
}
#sign-up #sign-up-right .login span:nth-child(2) a{
    text-decoration: none;
    color: var(--grey15);
}
#sign-up #sign-up-right .login span:nth-child(3){
    margin-left: 5px;
}

/* footer */
footer {
    padding: 100px 162px 30px 162px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: var(--white);
    color: var(--grey15);

}

footer #footer-top {
    display: flex;
    justify-content: space-between;
}

footer #footer-top #footer-top-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
    font-weight: 400;
}

footer #footer-top #footer-top-left>div {
    display: flex;
    gap: 10px;
}

footer #footer-top #footer-top-left #logo img {
    height: 54px;
    width: 54px;
    border-radius: 8px;
}

footer #footer-top #footer-top-right {
    display: flex;
    justify-content: space-around;
    gap: 70px;
}

footer #footer-top #footer-top-right .footer-sections {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer #footer-top #footer-top-right .footer-sections .footer-links-heading {
    font-size: 20px;
    font-weight: 600;
}

footer #footer-top #footer-top-right .footer-sections .footer-links a {
    font-size: 18px;
    font-weight: 400;
    color: var(--grey35);
    text-decoration: none;
}

footer #footer-bottom {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--grey40);
}

@media screen and (max-width:1840px){
    nav {
       gap: 0;
    }
    #sign-up #sign-up-right {
        width: 50%;
    }
}

@media screen and (max-width:1440px) {
    body {
        padding: 0;
    }

    /* nav */
    nav {
        height: 80px;
        margin: 0 0 40px 0;
        justify-content: space-between;
        font-size: 15px;
        gap: 0;
    }

    nav #nav-left ul li img {
        height: 40px;
        width: 42px;
    }

    nav #nav-right ul li button {
        height: 35px;
        width: 90px;
    }
    /* sign up  */
    #sign-up #sign-up-left {
        width: 45%;
    }
    #sign-up #sign-up-left #testimonials-heading {
        font-size: 30px;
    }
    #sign-up #sign-up-left #testimonials-para {
        font-size: 13px;
    }
    #sign-up #sign-up-left #testimonials-cards {
        margin-top: 30px;
    }
    #sign-up #sign-up-left #testimonials-cards .tc-card {
        padding: 20px;
    }
    #sign-up #sign-up-left #testimonials-cards .tc-card-para {
        font-size: 14px;
        margin-bottom: 0;
        height: 100%;
    }
    #sign-up #sign-up-left #testimonials-cards .tc-card-brief-left .tc-card-brief-img {
        height: 40px;
        width: 40px;
    }
    #sign-up #sign-up-left #testimonials-cards .tc-card-brief-left .tc-card-brief-author {
        font-size: 14px;
    }
    #sign-up #sign-up-left #testimonials-cards .tc-card-brief-right .tc-card-button {
        font-size: 14px;
        padding: 7px;
    }
    #sign-up #sign-up-left #toggle-buttons {
        margin-top: 22px;
    }
    #sign-up #sign-up-left #toggle-buttons #toggle-left, #sign-up #sign-up-left #toggle-buttons #toggle-right {
        padding: 10px;
    }
    #sign-up #sign-up-right {
        padding: 30px 30px 20px 30px;
        width: 40%;
    }
    #sign-up #sign-up-right #sign-up-heading {
        font-size: 30px;
    }
    #sign-up #sign-up-right #sign-up-sub-heading {
        font-size: 14px;
    }
    #sign-up #sign-up-right form .label {
        font-size: 16px;
    }
    
    #sign-up #sign-up-right form .input {
        padding: 8px;
        font-size: 14px;
    }
    #sign-up #sign-up-right form .input input, #sign-up #sign-up-right form .input input::placeholder {
        font-size: 14px;
    }
    #sign-up #sign-up-right form .forget-password a {
        font-size: 16px;
    }
    #sign-up #sign-up-right form .submit {
        padding: 10px 0;
    }
    #sign-up #sign-up-right form .submit button {
        font-size: 16px;
    }
    #sign-up #sign-up-right .login {
        font-size: 16px;
    }
    /* footer */
    footer {
        padding: 70px 80px 30px 80px;
        gap: 85px;
    }
    footer #footer-top #footer-top-left {
        gap: 20px;
        font-size: 14px;
    }
    footer #footer-top #footer-top-left #logo img {
        height: 40px;
        width: 40px;
    }
    footer #footer-top #footer-top-right .footer-sections .footer-links-heading {
        font-size: 15px;
    }
    footer #footer-top #footer-top-right .footer-sections .footer-links a {
        font-size: 12px;
    }
    footer #footer-bottom {
        font-size: 12px;
    }
}

@media screen and (max-width:1069px){
    body {
        padding: 0;
    }

    /* nav */
    nav {
        height: 60px;
        margin: 0 0 32px 0;
        font-size: 13px;
        gap: 0;
    }

    nav #nav-left ul li img {
        height: 35px;
        width: 35px;
    }

    nav #nav-left ul {
        gap: 0px;
    }

    nav #nav-right ul li button {
        height: 30px;
        width: 60px;
    }
    /* sign up */
    #sign-up {
        margin: 50px 15px;
        gap: 50px;
    }
    #sign-up #sign-up-left #testimonials-heading {
        font-size: 20px;
    }
    #sign-up #sign-up-left #testimonials-para {
        font-size: 11px;
    }
    #sign-up #sign-up-left #testimonials-cards {
        margin-top: 20px;
    }
    #sign-up #sign-up-left #testimonials-cards .tc-card {
        padding: 10px;
    }
    #sign-up #sign-up-left #testimonials-cards .tc-card-para {
        font-size: 11px;
        height: 53px;
        height: 100%;
    }
    #sign-up #sign-up-left #testimonials-cards .tc-card-brief {
        padding: 10px 0;
    }
    #sign-up #sign-up-left #testimonials-cards .tc-card-brief-left .tc-card-brief-img {
        height: 20px;
        width: 20px;
    }
    #sign-up #sign-up-left #testimonials-cards .tc-card-brief-left .tc-card-brief-author {
        font-size: 10px;
    }
    #sign-up #sign-up-left #testimonials-cards .tc-card-brief-right .tc-card-button {
        font-size: 10px;
        padding: 5px;
    }
    #sign-up #sign-up-left #toggle-buttons {
        margin-top: 15px;
    }
    #sign-up #sign-up-left #toggle-buttons #toggle-left, #sign-up #sign-up-left #toggle-buttons #toggle-right {
        padding: 5px;
    }
    #sign-up #sign-up-right {
        padding: 30px 20px 20px 20px;
    }
    #sign-up #sign-up-right #sign-up-heading {
        font-size: 22px;
    }
    #sign-up #sign-up-right #sign-up-sub-heading {
        font-size: 12px;
    }
    #sign-up #sign-up-right form {
        margin-top: 30px;
    }
    #sign-up #sign-up-right form .label {
        font-size: 13px;
    }
    #sign-up #sign-up-right form .input {
        padding: 5px;
        font-size: 12px;
    }
    #sign-up #sign-up-right form .input input, #sign-up #sign-up-right form .input input::placeholder {
        font-size: 12px;
        font-weight: 400;
    }
    #sign-up #sign-up-right form .forget-password a {
        font-size: 12px;
    }
    #sign-up #sign-up-right form .submit {
        padding: 5px 0;
    }
    #sign-up #sign-up-right form .submit button {
        font-size: 13px;
    }
    #sign-up #sign-up-right .login {
        font-size: 11px;
    }
    /* footer */
    footer {
        padding: 40px 30px;
        gap: 50px;
    }
    footer #footer-top #footer-top-left {
        gap: 15px;
        font-size: 13px;
    }
    footer #footer-top #footer-top-left #logo img {
        height: 40px;
        width: 40px;
    }
    footer #footer-top #footer-top-right {
        gap: 60px;
    }
    footer #footer-top #footer-top-right .footer-sections .footer-links-heading {
        font-size: 14px;
    }
    footer #footer-bottom {
        font-size: 12px;
    }
}

@media screen and (max-width:768px){
    body {
        padding: 0;
    }

    /* nav */
    nav {
        height: 40px;
        margin: 0 0 25px 0;
        font-size: 12px;
        gap: 0;
    }

    nav #nav-left ul li img {
        height: 35px;
        width: 35px;
    }

    nav #nav-left ul li:nth-child(1) {
        display: block;
    }

    nav #nav-left ul li:nth-child(3),nav #nav-left ul li:nth-child(4), nav #nav-left ul li:nth-child(5), nav #nav-left ul li:nth-child(6), nav #nav-left ul li:nth-child(7) {
        display: none;
    }

    nav #nav-right ul {
        gap: 6px;
    }

    nav #nav-right ul li button {
        height: 20px;
        width: 50px;
    }
    /* sign up */
    #sign-up {
        margin: 30px 0px;
        flex-direction: column-reverse;
    }
    #sign-up #sign-up-left {
        padding: 10px;
        width: 55%;
    }
    #sign-up #sign-up-left #testimonials-heading {
        font-size: 16px;
    }
    #sign-up #sign-up-left #testimonials-para {
        font-size: 10px;
    }
    #sign-up #sign-up-left #testimonials-cards .tc-card {
        padding: 6px;
    }
    #sign-up #sign-up-left #testimonials-cards .tc-card-brief-left {
        gap: 12px;
    }
    #sign-up #sign-up-left #testimonials-cards .tc-card-brief-left .tc-card-brief-author {
        font-size: 9px;
    }
    #sign-up #sign-up-left #testimonials-cards .tc-card-brief-right .tc-card-button {
        font-size: 9px;
        padding: 3px;
    }
    #sign-up #sign-up-left #toggle-buttons {
        margin-top: 10px;
        gap: 7px;
    }
    #sign-up #sign-up-right {
        padding: 10px;
        width: 55%;
    }
    #sign-up #sign-up-right #sign-up-heading {
        font-size: 20px;
    }
    #sign-up #sign-up-right #sign-up-sub-heading {
        font-size: 11px;
    }
    #sign-up #sign-up-right form {
        margin-top: 18px;
    }
    #sign-up #sign-up-right form .label {
        font-size: 12px;
    }
    #sign-up #sign-up-right form .input {
        padding: 3px;
        font-size: 11px;
    }
    #sign-up #sign-up-right form .input input, #sign-up #sign-up-right form .input input::placeholder {
        font-size: 11px;
    }
    #sign-up #sign-up-right form .forget-password a {
        font-size: 11px;
    }
    #sign-up #sign-up-right form .submit {
        padding: 4px 0;
        font-size: 11px;
    }
    #sign-up #sign-up-right form .submit button {
        font-size: 11px;
    }
    #sign-up #sign-up-right .login {
        font-size: 10px;
    }
    /* footer */
    footer {
        padding: 25px 10px;
        gap: 15px;
    }
    footer #footer-top {
        gap: 12px;
        flex-direction: column;
    }
    footer #footer-top #footer-top-left {
        gap: 10px;
        font-size: 10px;
    }
    footer #footer-top #footer-top-left #logo img {
        height: 40px;
        width: 40px;
    }
    footer #footer-top #footer-top-right {
        gap: 15px;
        flex-direction: column;
    }
    footer #footer-top #footer-top-right .footer-sections {
        gap: 2px;
    }    
    footer #footer-top #footer-top-right .footer-sections .footer-links-heading {
        font-size: 13px;
    }
    footer #footer-top #footer-top-right .footer-sections .footer-links a {
        font-size: 10px;
    }
    footer #footer-bottom {
        font-size: 11px;
    }
}

@media screen and (max-width:425px){
    #sign-up #sign-up-left {
        padding: 10px;
        width: 100%;
    }
    #sign-up #sign-up-right {
        padding: 10px;
        width: 100%;
    }
}
