* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}

:root {
    --white: #FFFFFF;
    --white90: #E4E4E7;
    --white95: #F1F1F3;
    --white97: #F7F7F8;
    --white99: #FCFCFD;
    --black: #000000;
    --orange50: #FF9500;
    --orange70: #FFBF66;
    --orange75: #FFCA80;
    --orange80: #FFD599;
    --orange90: #FFEACC;
    --orange95: #FFF4E5;
    --orange97: #FFF9F0;
    --orange99: #FFFDFA;
    --grey10: #1A1A1A;
    --grey15: #262626;
    --grey20: #333333;
    --grey30: #4C4C4D;
    --grey35: #59595A;
    --grey40: #656567;
    --grey60: #98989A;
    --grey70: #B3B3B3;
}

body {
    background-color: var(--white97);
    padding: 20px 30px;
    box-sizing: border-box;
}


nav {
    height: 99px;
    margin: 20px 30px 100px 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 785px;
    font-size: 18px;
    box-shadow: 0 0px 10px var(--grey40);
}

nav #nav-left ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 12px;
}

nav #nav-left ul li:nth-child(1) {
    display: none;
}

nav #nav-left ul li {
    padding: 14px 24px;
}

nav #nav-left ul li img {
    height: 54px;
    width: 54px;
    border-radius: 8px;
}

nav #nav-left ul li a{
    text-decoration: none;
    cursor: pointer;
    color: var(--grey15);
}

nav #nav-left ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: var(--grey15);
}

nav #nav-right ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav #nav-right ul li button {
    height: 55px;
    width: 117px;
    cursor: pointer;
}

nav #nav-right ul li:nth-child(1) button {
    border: transparent;
    background-color: transparent;
}

nav #nav-right ul li:nth-child(2) button {
    border: 1px solid var(--orange50);
    border-radius: 8px;
    background-color: var(--orange50);
    color: var(--white);
}

#testimonials {
    margin: 100px 162px 108px 161px;
}

#testimonials #testimonials-heading {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 6px;
}

#testimonials #testimonials-para {
    display: flex;
    justify-content: space-between;
}

#testimonials #testimonials-para p {
    font-size: 18px;
    font-weight: 400;
    color: var(--grey35);
}

#testimonials #testimonials-para button {
    background-color: var(--white99);
    border: var(--white99);
    border-radius: 8px;
    padding: 18px 24px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

#testimonials #testimonials-cards {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
}

#testimonials #testimonials-cards .tc-card {
    padding: 50px;
    padding-bottom: 30px;
    background-color: var(--white);
    border-radius: 12px;
    width: 711px;
}

#testimonials #testimonials-cards .tc-card-para {
    overflow: hidden;
    text-overflow: clip;
    font-size: 18px;
    font-weight: 400;
    color: var(--grey30);
    margin-bottom: 50px;
    height: 80px;
}

#testimonials #testimonials-cards .tc-card-brief {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

#testimonials #testimonials-cards .tc-card-brief-left {
    display: flex;
    gap: 15px;
    align-items: center;
}

#testimonials #testimonials-cards .tc-card-brief-left .tc-card-brief-img {
    height: 60px;
    width: 60px;
    border-radius: 8px;
}

#testimonials #testimonials-cards .tc-card-brief-left .tc-card-brief-author {
    width: 420px;
}

#testimonials #testimonials-cards .tc-card-brief-right .tc-card-button {
    padding: 18px 15px 18px 15px;
    background-color: var(--white97);
    color: var(--grey15);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border: transparent;
    border-radius: 8px;
    cursor: pointer;
}

footer {
    padding: 100px 162px 30px 162px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: var(--white);
    color: var(--grey15);

}

footer #footer-top {
    display: flex;
    justify-content: space-between;
}

footer #footer-top #footer-top-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
    font-weight: 400;
}

footer #footer-top #footer-top-left>div {
    display: flex;
    gap: 10px;
}

footer #footer-top #footer-top-left #logo img {
    height: 54px;
    width: 54px;
    border-radius: 8px;
}

footer #footer-top #footer-top-right {
    display: flex;
    justify-content: space-around;
    gap: 70px;
}

footer #footer-top #footer-top-right .footer-sections {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer #footer-top #footer-top-right .footer-sections .footer-links-heading {
    font-size: 20px;
    font-weight: 600;
}

footer #footer-top #footer-top-right .footer-sections .footer-links a {
    font-size: 18px;
    font-weight: 400;
    color: var(--grey35);
    text-decoration: none;
    cursor: pointer;
}

footer #footer-top #footer-top-right .social-profiles {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

footer #footer-top #footer-top-right .social-profiles .footer-links{
    background-color: var(--white97);
    padding: 8px;
    border-radius: 8px;
}
footer #footer-top #footer-top-right .social-profiles .footer-links a {
    font-size: 20px;
    font-weight: 400;
    color: var(--grey20);
    text-decoration: none;
    cursor: pointer;
}

footer #footer-bottom {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--grey40);
}

@media screen and (max-width:1840px){
    nav {
       gap: 0;
    }
    
    #testimonials #testimonials-cards .tc-card {
        width: 514px;
    }
    
    #testimonials #testimonials-cards .tc-card-para {
        height: 70px;
    }
    
    #testimonials #testimonials-cards .tc-card-brief-left .tc-card-brief-author {
        width: 175px;
    }
}

@media screen and (max-width:1440px) {
    body {
        padding: 0;
    }

    /* nav */
    nav {
        height: 80px;
        margin: 0 0 40px 0;
        justify-content: space-between;
        font-size: 15px;
        gap: 0;
    }

    nav #nav-left ul li img {
        height: 40px;
        width: 42px;
    }

    nav #nav-right ul li button {
        height: 35px;
        width: 90px;
    }

    /* testimonials-section */
    #testimonials {
        margin: 100px 80px 100px 80px;
    }

    #testimonials #testimonials-heading {
        font-size: 40px;
        font-weight: 500;
    }

    #testimonials #testimonials-para p {
        font-size: 16px;
    }

    #testimonials #testimonials-para button {
        padding: 12px;
        width: 168px;
    }

    #testimonials #testimonials-cards {
        justify-content: center;
        gap: 10px;
    }

    #testimonials #testimonials-cards .tc-card {
        width: 450px;
        padding: 20px;
    }

    #testimonials #testimonials-cards .tc-card-para {
        height: 50px;
        font-size: 12px;
        margin-bottom: 20px;
    }

    #testimonials #testimonials-cards .tc-card-brief {
        padding-top: 25px;
        padding-bottom: 20px;
    }

    #testimonials #testimonials-cards .tc-card-brief-left .tc-card-brief-img {
        height: 35px;
        width: 35px;
    }

    #testimonials #testimonials-cards .tc-card-brief-left .tc-card-brief-author {
        width: 259px;
        font-size: 12px;
    }

    #testimonials #testimonials-cards .tc-card-brief-right .tc-card-button {
        padding: 10px 5px;
        font-size: 12px;
    }

    footer {
        padding: 70px 80px 30px 80px;
        gap: 85px;
    }
    footer #footer-top #footer-top-left {
        gap: 20px;
        font-size: 14px;
    }
    footer #footer-top #footer-top-left #logo img {
        height: 40px;
        width: 40px;
    }
    footer #footer-top #footer-top-right .footer-sections .footer-links-heading {
        font-size: 15px;
    }
    footer #footer-top #footer-top-right .footer-sections .footer-links a {
        font-size: 12px;
    }
    footer #footer-bottom {
        font-size: 12px;
    }
}

@media screen and (max-width:1069px){
    body {
        padding: 0;
    }

    /* nav */
    nav {
        height: 60px;
        margin: 0 0 32px 0;
        font-size: 13px;
        gap: 0;
    }

    nav #nav-left ul li img {
        height: 35px;
        width: 35px;
    }

    nav #nav-left ul {
        gap: 0px;
    }

    nav #nav-right ul li button {
        height: 30px;
        width: 60px;
    }

    /* testimonials-section */
    #testimonials {
        margin: 40px 30px;
    }

    #testimonials #testimonials-heading {
        font-size: 32px;
    }

    #testimonials #testimonials-para p {
        font-size: 12px;
    }

    #testimonials #testimonials-para button {
        padding: 2px 5px;
        width: 151px;
    }

    #testimonials #testimonials-cards {
        margin-top: 40px;
    }

    #testimonials #testimonials-cards .tc-card {
        width: 349px;
        padding: 10px;
    }

    #testimonials #testimonials-cards .tc-card-para {
        height: 50px;
        font-size: 12px;
        margin-bottom: 20px;
    }

    #testimonials #testimonials-cards .tc-card-brief {
        padding: 0;
    }

    #testimonials #testimonials-cards .tc-card-brief-left .tc-card-brief-img {
        height: 35px;
        width: 35px;
    }

    #testimonials #testimonials-cards .tc-card-brief-left .tc-card-brief-author {
        width: 179px;
    }

    footer {
        padding: 40px 30px;
        gap: 50px;
    }
    footer #footer-top #footer-top-left {
        gap: 15px;
        font-size: 13px;
    }
    footer #footer-top #footer-top-left #logo img {
        height: 40px;
        width: 40px;
    }
    footer #footer-top #footer-top-right {
        gap: 60px;
    }
    footer #footer-top #footer-top-right .footer-sections .footer-links-heading {
        font-size: 14px;
    }
    footer #footer-bottom {
        font-size: 12px;
    }
}

@media screen and (max-width:768px){
    body {
        padding: 0;
    }

    /* nav */
    nav {
        height: 40px;
        margin: 0 0 25px 0;
        font-size: 12px;
        gap: 0;
    }

    nav #nav-left ul li img {
        height: 35px;
        width: 35px;
    }

    nav #nav-left ul li:nth-child(1) {
        display: block;
    }

    nav #nav-left ul li:nth-child(3),nav #nav-left ul li:nth-child(4), nav #nav-left ul li:nth-child(5), nav #nav-left ul li:nth-child(6), nav #nav-left ul li:nth-child(7) {
        display: none;
    }

    nav #nav-right ul {
        gap: 6px;
    }

    nav #nav-right ul li button {
        height: 20px;
        width: 50px;
    }

    /* testimonials-section */
    #testimonials {
        margin: 25px 10px;
    }

    #testimonials #testimonials-heading {
        font-size: 20px;
    }

    #testimonials #testimonials-para p {
        font-size: 10px;
    }

    #testimonials #testimonials-para button {
        padding: 2px;
        height: 100%;
        width: 100%;
        font-size: 10px;
    }

    #testimonials #testimonials-cards {
        margin-top: 20px;
    }

    #testimonials #testimonials-cards .tc-card {
        padding: 5px;
        width: 100%;
    }

    #testimonials #testimonials-cards .tc-card-para {
        margin-bottom: 15px;
        height: 60px;
    }
    #testimonials #testimonials-cards .tc-card-brief {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    #testimonials #testimonials-cards .tc-card-brief-left {
        gap: 10px;
    }

    #testimonials #testimonials-cards .tc-card-brief-left .tc-card-brief-img {
        height: 25px;
        width: 25px;
    }

    #testimonials #testimonials-cards .tc-card-brief-left .tc-card-brief-author {
        width: 179px;
    }
    #testimonials #testimonials-cards .tc-card-brief-right .tc-card-button {
        padding: 5px;
        font-size: 10px;
    }

    footer {
        padding: 25px 10px;
        gap: 15px;
    }
    footer #footer-top {
        gap: 12px;
        flex-direction: column;
    }
    footer #footer-top #footer-top-left {
        gap: 10px;
        font-size: 10px;
    }
    footer #footer-top #footer-top-left #logo img {
        height: 40px;
        width: 40px;
    }
    footer #footer-top #footer-top-right {
        gap: 15px;
        flex-direction: column;
    }
    footer #footer-top #footer-top-right .footer-sections {
        gap: 2px;
    }    
    footer #footer-top #footer-top-right .footer-sections .footer-links-heading {
        font-size: 13px;
    }
    footer #footer-top #footer-top-right .footer-sections .footer-links a {
        font-size: 10px;
    }
    footer #footer-top #footer-top-right .social-profiles {
        gap: 2px;
    }
    footer #footer-top #footer-top-right .social-profiles .footer-links {
        padding: 5px;
    }
    footer #footer-bottom {
        font-size: 11px;
    }
}

@media screen and (max-width:425px){
    #testimonials #testimonials-cards .tc-card-para {
        height: 60px;
    }
}
@media screen and (max-width:375px){
    #testimonials #testimonials-cards .tc-card-para {
        height: 77px;
    }
}

@media screen and (max-width:320px){
    /* companies-section */
    #companies {
        height: 100%;
    }
}